<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={{@blog.url}}>{{@blog.title}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#foreach navigation}}
                    <li><a href="{{url absolute="true"}}">{{label}}</a></li>
                {{/foreach}}

                <li><a href="https://github.com/GITHUB" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
                <li><a href="https://twitter.com/TWITTER" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                <!--<li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>-->
                <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
    </div>
</div>
