{{!< default}}
<main>
    {{#foreach posts}}
    <article>
        <header>
            <h1><a href="{{url}}">{{{title}}}</a></h1>
            <h5>
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD/MM/YYYY"}}</time> - <a href="{{url}}#disqus_thread" data-disqus-identifier="{{id}}"></a>
            </h5>
            {{#foreach tags}}
                    <span class="label label-primary"><a href="{{url}}"><i class="fa fa-tag"></i> {{name}}</a></span>
            {{/foreach}}
        </header>
        <section class="posts">
          <p>{{excerpt characters="200"}}&hellip;</p>
          <h5><a href="{{url}}">Read more</a></h5>
        </section>
    </article>
    {{/foreach}}
    {{pagination}}
</main>
